
body {
    position: relative;
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: Inter, sans-serif;
    /*font-family: 'Roboto Flex', sans-serif;*/
    color: #ffffff;
    background-color: #ffffff;
    overflow: hidden;
}


h1, h2, h3, h4, h5, h6, li, ol {
    margin: 0 auto;
    padding: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100%;
    padding: 42px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container-header {
    -moz-padding: 42px 40px 42px 40px;
    -ms-padding: 42px 40px 42px 40px;
    -webkit-padding: 42px 40px 42px 40px;
    padding: 42px 40px 42px 40px;
    width: 100%;

}

.container-footer {
    -webkit-margin: auto 40px;
    -moz-margin: auto 40px;
    -ms-margin: auto 40px;
    width: 100%;
    margin: auto 40px;
}

.image-container {
    width: 100vw;
    height: 100vh;
}

#first {
    overflow: hidden;
}


.scale {
    -webkit-background-position: center center;
    -moz-background-position: center center;
    -ms-background-position: center center;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 110%;
    height: 110%;
    transition: all 0.1s ease;
    overflow: hidden;
    background-image: url(/assets/img/background1.png);
    z-index: -2323;
}



.image2 {
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: fixed;
    z-index: -3;
}


.bckg-mix {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;

    background: #00182C;
    mix-blend-mode: multiply;
    opacity: 0.9;
    z-index: -1;
}

.header {
    transition: all .2s ease-in;
    position: fixed;
    z-index: 100000;
    width: 100%;
}

.header--second {
    -webkit-background-color: rgba(0, 24, 44, 0.9);
    -moz-background-color: rgba(0, 24, 44, 0.9);
    -ms-background-color: rgba(0, 24, 44, 0.9);
    object-fit: cover;
    background-color: rgba(0, 24, 44, 0.9);
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__flagContainer {
    width: 37.85px;
    height: 20.4px;
}

.header__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}

.header__flag {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.header__nav {
    display: flex;
    align-items: center;

}

.nav__link {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 0;

    letter-spacing: 3px;
}

.nav__link {
    opacity: .5;
}

.nav__link.active {
    opacity: 1;
}


.nav__link.swiper-slide {
    width: auto;
    height: auto;
}

.header--third .nav__link {
    color: #00182C;
}

.nav__link.active:after {
    -webkit-margin-top: 13px;
    -moz-margin-top: 13px;
    -ms-margin-top: 13px;
    position: absolute;
    content: "";
    display: block;
    width: 72px;
    height: 1px;
    background-color: #41A99E;
    margin-top: 13px;
    transform: skew(-30deg);
    animation: bar-appear 2s forwards;
}

.animate__animated {
    animation-duration: 1s;
    animation-name: slideInLeft;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes bar-appear {
    0% {
        width: 0;
    }
    100% {
        width: 72px;
    }
}

.a123 {
    display: flex;
    justify-content: space-between;
    width: 82%;
}

.nav__link:not(:last-child) {
    margin-right: 8%;
}


.header--third .header__phone {
    color: #41A99E;
}

.footer--third .scroll-page:after {
    background-color: #00182C;
}

.header__phone {
    font-style: normal;
    font-weight: 625;
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    text-transform: uppercase;
    width: 230px;
    text-decoration: none;
    color: #ffffff;
}

.language-switch {
    display: flex;
    width: 88px;
    height: 18px;

}

.language {
    color: #ffffff;
    border: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 152.69%;
    width: 44px;
    text-align: center;
    background: #00182C;
    transition: background-color 0.3s ease-in-out;
}

.language:hover {
    cursor: pointer;
}

.language.active {
    background: #41A99E;
}

/* Section-container*/

.section-container {
    margin-left: 24%;
}

/* Компания */

.company {
    overflow: hidden;
}


.image-right {
    z-index: -1;
    position: absolute;

    right: 0%;
    top: -10%;
}

.image-left {
    z-index: -1;
    position: absolute;
    left: -48px;
    bottom: -70px;
}

.company__logo {
    -webkit-margin-right: 40%;
    -moz-margin-right: 40%;
    -ms-margin-right: 40%;
    width: auto;
    height: auto;
    margin-right: 40%;
}


.company__title {
    position: relative;
    font-style: normal;
    font-weight: 525;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 1.15px;
}

.company__title:after {
    position: absolute;
    content: "";
    display: block;
    width: 131px;
    height: 4px;
    background-color: #41A99E;
    margin-top: 13px;
    transform: skew(-30deg);
}

.company__inner {
    -webkit-margin-top: 4.7%;
    -moz-margin-top: 4.7%;
    -ms-margin-top: 4.7%;
    display: flex;
    margin-top: 4.7%;
}

.company__prop {
    -webkit-margin-right: 2.9%;
    -moz-margin-right: 2.9%;
    -ms-margin-right: 2.9%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 2.9%;
}

.company__prop-img {
    width: 72px;
    height: 72px;
}

.company__prop-img object {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.company__prop-title {
    -webkit-margin: 7% 0 0 -10%;
    -moz-margin: 7% 0 0 -10%;
    -ms-margin: 7% 0 0 -10%;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 7% 0 0 -10%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 0;
    letter-spacing: 1px;
}

.company__prop-title:before {
    -webkit-margin-right: 8px;
    -moz-margin-right: 8px;
    -ms-margin-right: 8px;
    -webkit-padding-top: 4px;
    -moz-padding-top: 4px;
    -ms-padding-top: 4px;
    content: "";
    display: inline-block;
    padding-top: 4px;
    margin-right: 8px;
    width: 22px;
    height: 21px;
    background-image: url("../img/Arrow.svg");
}

.company__prop-subtitle {
    padding-top: 15px;
    width: 283px;
    max-height: 108px;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 141.69%;
    opacity: 0.75;
    letter-spacing: 1px;
}

.company__subtitle {
    height: 210px;
    margin-top: 5.4%;
    margin-left: 23.3%;
    width: 54%;
    position: relative;
}

.company__description {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 147.69%;
    color: #41A99E;
}

.company__description::before {
    position: absolute;
    content: "";
    top: -16px;
    left: 0;
    display: block;
    width: 131px;
    height: 2px;
    background-color: #41A99E;
    transform: skew(-30deg);
}

.company__leader {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    letter-spacing: 1px;
    align-items: center;
}


.leader__logoContainer {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.leader__logo {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.leader__description {
    width: 225px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.leader__name {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 0;
}

.leader__subtitle {
    padding-top: 25px;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 0;
    opacity: 0.75;
}

.section__footer {
    /*margin-top: 5.1%;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    padding-bottom: 20px;

    bottom: 0;

    position: fixed;
    z-index: 100000;
}

.section__footer .container {
    padding-bottom: 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.company__year {
    width: 300px;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 0px;
    letter-spacing: 1px;
}

.swiper {
    width: 52%;
}

.scroll-menu {
    display: flex;
}

.scroll-page {
    position: relative;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 0px;
    color: #41A99E;
    opacity: 0.5;
    margin-right: 81px;
}

.scroll-page:hover {
    cursor: pointer;
}

.scroll-page:after {
    content: "";
    display: block;
    position: absolute;
    top: 11px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 32px;
    background-color: #fff;
}


.scroll-page.active {
    opacity: 1;
}

.company__madeContainer {
    width: 129px;
    height: 39px;
}

.company__madeContainer img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.container--engineering {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 3%;
    height: 100%;
}

.engineering__container {
    background: #41A99E;
    opacity: 0.9;
    width: 84%;
    height: 70%;

    position: relative;
}

.engineering__text {
    margin: 10% auto 0;
    padding: 0 0% 0 6%;
}


.engineering__title {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: -0.45%;
    font-style: normal;
    font-weight: 625;
    font-size: 160px;
    line-height: 188px;
    color: #ffffff;

    position: absolute;
    top: 0;
    left: -17%;
}

.company__title-engineering {
    margin-top: -0.85%;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 39px;
    color: #00182C;
    margin-right: 37.5%;
    letter-spacing: 1px;
}

.company__title-engineering:after {
    margin-top: .3%;
    background-color: #00182C;
}

.engineering__description {
    width: 71%;
    margin-top: 1%;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 152.69%;
    color: #ffffff;
}

.engineering__description:not(:last-child) {
    margin-top: 2%;
}

.engineering__container {
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: center;
}

.plan-img {
    width: 44%;
    height: 40%;

    position: fixed;
    bottom: 0;
}

.plan-svg {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.engineering .section__footer {
    margin-top: 10.4%;
}

.engineering .company__madeContainer {
    visibility: hidden;
}

.equipment {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: flex-end;

}

.equipment-white {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 2160px;
    background: #ffffff;
    mix-blend-mode: multiply;
    opacity: 0.9;
    z-index: -4;
}

.equipment-bg {
    position: fixed;
    /*width: 38.5%;*/
    width: 36vw;
    height: 100%;

    z-index: -2;
    background: #00182C;
}

.equipment-img {
    overflow: hidden;

    position: fixed;
    bottom: 0;
    z-index: -1;

    height: 657px;
}

.equipment-img object {
    overflow: hidden;
}

.equipment__container {
    width: 100%;
    padding: 42px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}


.equipment__title {
    width: 1400px;
    margin-right: 21.8%;
    text-transform: uppercase;
    letter-spacing: 7.2px;
    font-style: normal;
    font-weight: 625;
    font-size: 160px;
    line-height: 188px;
    color: #41A99E;
}

.equipment__section {

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.equipment__main {
    width: 48%;

}

.equipment__desc {
    height: 42vh;
}

.equipment__description {
    position: relative;
    margin-bottom: 1%;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 152.69%;
    color: #00182C;

    margin-left: 30%;
    padding-right: 2%;
    margin-top: 2%;
}

.equipment__download {
    margin-left: 30%;
}


.equipment__description.active:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -5%;
    top: 3%;
    width: 22px;
    height: 21px;
    background-image: url("../img/Arrow.svg");
}

.equipment__prop-img {
    height: 27px;
    width: 30px;
    border-radius: 0px;
}

.equipment__link__title {
    padding-bottom: 3%;
    display: flex;
    align-items: center;
    position: relative;
    color: #00182C;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 4%;
}

.equipment__link__title:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -6%;
    top: -16%;
    width: 30px;
    height: 27px;
    background-image: url("../img/down.svg");
}

.download {
    text-decoration: none;
    text-transform: uppercase;
    width: 143px;
    height: 32px;
    background-color: #41A99E;
    color: #ffffff;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    transform: skew(13deg);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in;

}

.download span {
    letter-spacing: 2px;
    transform: skew(-13deg);
}

.download:hover {
    border: 1px #41A99E solid;
    background-color: #ffffff;
    color: #41A99E;
}


.equipment .company__madeContainer {
    visibility: hidden;
}

.image-slider {
    width: 631px;
    height: 469px;
}

.image-slider {
    margin-left: 0;
}

.swiper-img-container {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swiper-img-container img {
    width: 100%;
    height: 100%;
}


.swiper-pagination {
    width: auto !important;
    left: auto !important;
    margin: 10px 0 0 0;
    margin-left: 1.3%;
    display: flex;
    align-items: center;
}

.pagination-after {
    position: absolute;
    margin: 30px 0 60px 0;
    background: transparent;
}

.swiper__dot {
    cursor: pointer;

    font-size: 0;
    width: 30px;
    height: 7px;
    transform: skew(-30deg);
    background-color: #41A99E;
}

.swiper-pagination .swiper-slide-active .swiper__dot {
    background: #fff;
}

.pagination-after.swiper-pagination span {
    display: none;
    visibility: hidden;
}

.swiper-pagination .swiper-pagination-bullet {
    padding: 3px 16px;
    border-radius: 0;
    width: auto;
    height: 30px;
    text-align: center;
    opacity: 1;
    background: transparent;
    font-style: normal;
    font-weight: 572;
    font-size: 20px;
    line-height: 0px;

    display: flex;
    align-items: center;
}

.slide1 {
    transform: translate3d(0, 0, 0);
}


.pagination-after .swiper-pagination-bullet {
    height: 0px;
    background: #41A99E;
}

.pagination-after .swiper-pagination-bullet-active {
    background: #fff;
}

.pagination-after .swiper-pagination-bullet {
    margin: 0 3px;
}

.swiper-pagination-bullet-active + .swiper-pagination-bullet {
    opacity: 0.6;
}

.swiper-pagination-bullet-active + .swiper-pagination-bullet + .swiper-pagination-bullet {
    opacity: 0.4;
}

.swiper-pagination-bullet-active + .swiper-pagination-bullet + .swiper-pagination-bullet {
    opacity: 0.4;
}

.swiper-text {
    margin-left: auto;
    width: 36vw;
}


.text-slider .swiper-wrapper {
    height: 60px;
    width: 100px;

}


.text-slider .swiper-slide {
    width: 271px;
    cursor: pointer;
    margin: 0 35px;
    display: flex;
    padding: 5%;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.text-slider {

    background-color: #364685;
}

.text-slider .swiper-wrapper {


}

.swiper__item {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 0;
    color: #FFFFFF;
}

/* SOCIAL */

.social-bg {
    width: 100%;
    height: 100%;

    object-fit: cover;

    position: fixed;
    z-index: -3;
}

.social-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.social-logo-container {
    padding-top: 1%;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.social-logo-container {
    width: 492px;
    height: 193px;
}

.social-info {
    align-items: center;
    margin-top: 8%;
    display: flex;
    justify-content: center;
}

.social__address {
    width: 373px;
    display: flex;
    align-items: center;
    position: relative;
    height: 84px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1px;
}

.social__address:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -5%;
    top: 6%;
    width: 11px;
    height: 15px;
    background-image: url("../img/Location.svg");
}

.social__contact {
    margin-left: 7.8%;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}


.social__mail {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 23%;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 0px;
    letter-spacing: 1px;
}

.social__mail:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -12%;
    width: 18px;
    height: 14px;
    background-image: url("../img/Mail.svg");
}

.social__phone {
    display: flex;
    align-items: center;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 0px;
}

.social__phone:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -12%;
    width: 14px;
    height: 14px;
    background-image: url("../img/Phone.svg");
}

.social__group {
    margin-top: 20%;
    margin-left: 13%;
    display: flex;
    align-items: center;
}

.social__group a {
    margin-right: 20px;
}

.social__group a:last-child {
    margin-right: 0;
}


.social .section__footer {
    width: 100%;
    margin-top: 9%;
    padding: 0 40px 20px 40px;
}

.swiper__item:active {
    outline: none;
    background-color: transparent;
}

.swiper-slide:active {
    outline: none;
    background-color: transparent;
}

.swiper__item:focus {
    outline: none;
    background-color: transparent;
}

.swiper-slide:focus {
    outline: none;
    background-color: transparent;
}

.swiper--main section.swiper-slide {
    position: relative;
    height: 100vh;
    overflow: hidden;
}


.company__madeContainer-mob {
    display: none;
}

[data-translate] {
    transition: opacity 0.5s ease;
}

.company__logo-mob {
    display: none;
}

.bg-mobile {
    display: none;
}

.social-logo-container-mob {
    display: none;
}

.header__menu {
    display: none;
}

.prev-text {
    display: none;
}

.next-text {
    display: none;
}

.soc-mob-footer {
    display: none;
}


@media (min-width: 2000px) and (min-height: 1200px) {

    .company__subtitle {
        height: 280px;
    }

    .equipment__desc {
        height: 30vh;
    }

    .engineering__title {
        font-size: 234px;
        margin-left: 8.15%;
        padding-top: 4%;
    }

    .equipment__section {
        padding-top: 3%;
    }

    .company__title-engineering {
        font-size: 40px;
    }

    .engineering__description {
        font-size: 22px;
    }

    .equipment__description {
        font-size: 20px;
    }

    .swiper {
        width: 45%;
    }

    .equipment__title {
        font-size: 200px;
        margin-right: 35.2%;
    }

    .company__prop-title {
        font-size: 24px;
    }

    .company__prop-subtitle {
        width: 410px;
        font-size: 17px;
    }

    .company__description {
        font-size: 18px;
    }

    .leader__logoContainer {
        border-radius: 50%;
        width: 99px;
        height: 99px;
    }

    .leader__name {
        font-size: 25px;
    }

    .leader__subtitle {
        font-size: 20px;
    }

}


@media (min-width: 3000px) {
    .equipment__title {
        font-size: 200px;
        margin-right: 40.5%;
    }
}


@media (max-height: 900px ) {

    .company__logo {
        width: 40%;
    }

    .image-left object {
        width: 68%;
    }

    .image-right {
        right: -15%;
    }

    .image-right object {
        width: 68%;
    }

    .company__description {
        font-size: 10px;
    }

    .company__subtitle {
        height: 120px;
    }

    .leader__logoContainer {
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }

    .leader__name {
        font-size: 15px;
    }

    .leader__subtitle {
        font-size: 12px;
        padding-top: 15px;
    }

    .company__prop-subtitle {
        font-size: 11px;
    }

    .company__prop-img {
        width: 66px;
        height: 66px;
    }

    .company__title {
        font-size: 33px;
    }

    .company__title:after {
        width: 115px;
        height: 4px;
        margin-top: 4px;
    }

    .company__inner {
        height: 200px;
        margin-top: 1.7%;
    }

    .engineering__description {
        font-size: 14px;
    }

    .engineering__title {
        font-size: 125px;
    }

    .equipment__title {
        width: 734px;
        margin-right: 19.4%;
        font-size: 137px;
    }

    .equipment__description {
        font-size: 16px;
    }
}

@media (max-width: 1700px) and (max-height: 1000px) {

    .engineering__title {
        font-size: 115px;
    }

    .company__title-engineering {
        font-size: 18px;
    }

    .engineering__description {
        font-size: 12px;
    }

    .social__group {
        margin-top: 7%;
        margin-left: 7%;
        display: flex;
        align-items: center;
    }

    .equipment__title {
        font-size: 85px;
        margin-right: 35.2%;
    }

    .equipment__description.active:before {
        top: -1%;
        left: -6%;
    }

    .equipment__link__title:before {
        left: -7%;
        top: -16%;
    }

    .swiper-img-container img {
        object-fit: contain;
        width: 400px;
        height: 330px;
    }

    .image-slider {
        width: 400px;
        height: 313px;
    }



    .swiper {
        width: 41.4%;
    }

    .equipment__description {
        font-size: 13px;
    }
}

@media (max-width: 1445px) {
    .equipment__title {
        font-size: 130.4px;
    }

    .leader__logoContainer {
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    .leader__name {
        font-size: 15px;
    }

    .leader__subtitle {
        font-size: 12px;
        padding-top: 15px;
    }
}


/* Media Query */
@media (max-width: 1280px) {

    .text-slider {
        margin-top: -1%;
        background-color: #364685;
    }

    .engineering__text {
        margin: auto;
        padding: unset;
    }

    .company__subtitle {
        width: auto;
        margin: auto;
        position: unset;
        height: auto;
    }

    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .scale {
        width: 100%;
        height: 61%;
        transform: none;
    }

    .container-header {
        padding: 0;
    }

    .equipment__container {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: auto;
        flex-direction: column;
    }

    .equipment__section .swiper {
        width: 100%;
    }

    .header__inner {
        transition: height 0.3s ease-in-out;
    }

    .header__flagContainer {
        display: none;
    }

    .header {
        position: relative;
    }

    .language-switch {
        position: absolute;
        top: 2.6%;
        left: 7%;
    }

    .menu-toggle {
        position: absolute;
        top: 2.9%;
        right: 5%;
        cursor: pointer;
        width: 30px;
        height: 12px;
    }

    .header__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: #00182C;
        color: #fff;
    }

    .menu-toggle .one,
    .menu-toggle .two {
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: 0;
        transition: all 0.3s ease-in-out;
    }

    .menu-toggle .one {
        top: 0;
    }

    .menu-toggle .two {
        bottom: 0;
    }

    .menu-toggle.open .one {
        transform: rotate(45deg);
        top: 50%;
    }

    .menu-toggle.open .two {
        transform: rotate(-48deg);
        bottom: 40%;
    }

    .menu {
        z-index: 1;
        color: #ffffff;
        visibility: hidden;
        transform: translateY(-20px); /* добавьте свойство transform с отрицательным значением translateY, чтобы меню сместилось вверх на 20px */
        transition: all 0.3s ease-in-out;
    }

    .menu.open {
        margin: 0 auto;
        position: absolute;
        top: 4%;
        left: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        visibility: unset;
    }

    .nav__link {
        margin-top: 20%;
    }

    .nav__link.active:after {
        display: none;
    }


    .container {
        min-height: auto;
        padding: unset;
        height: auto;
        width: auto;
    }

    object {
        display: none;
    }

    .a123 {
        display: none;
    }

    .header {
        position: unset;
        z-index: 1;
    }

    .header__inner {
        background: #00182C;
        height: 64px;
        display: flex;
        flex-direction: row-reverse;
    }

    .section__footer {
        display: none;
    }


    .swiper-wrapper {
        display: flex;
        flex-direction: column;
    }

    .image1 {
        height: 592px;
        width: 100vw;
        object-fit: cover;
        position: fixed;

        z-index: -2;
    }

    .company__logo {
        display: none;
    }

    .company__logo-mob {
        margin: 4%;
        display: block;
        width: 293px;
        height: 66px;
        /* margin-left: 33%; */
        /* margin-top: 5%; */
        /* margin-bottom: 4%; */
    }

    .bckg-mix {
        height: 18%;
        width: 100vw;
    }

    .company__title {
        margin-left: 28%;
        font-style: normal;
        font-weight: 625;
        font-size: 24px;
        line-height: 28px;
    }

    .company__title:after {
        margin-top: 6px;
        width: 60px;
        height: 2px;
    }

    .section-container {
        margin-left: auto;
        display: flex;
        flex-direction: column;
    }

    .swiper--main section.swiper-slide {
        height: auto;
        overflow: unset;
        display: unset;
    }

    .company__inner {
        width: 100%;
        order: 3;
        height: 350px;
        /* flex-direction: column; */
        margin-top: 20px;
        background-color: #00182C;
        padding: 4% 15%;
    }


    .company__description {
        height: 100px;
        margin: 3%;
        opacity: 1;
        font-style: normal;
        font-weight: 200;
        font-size: 14px;
        line-height: 152.69%;
        color: #ffffff;
        letter-spacing: 1px;
    }

    .company__description:before {
        display: none;
    }

    .company__leader {
        /* margin-right: 109%; */
        position: unset;
        margin-top: 4%;
        display: flex;
        align-content: center;
        align-items: center;
    }

    .leader__name {

        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 0px;
    }

    .leader__subtitle {
        font-style: normal;
        font-weight: 200;
        font-size: 14px;
        line-height: 0px;
    }

    .leader__logoContainer {
        width: 48px;
        height: 48px;
    }

    .company__prop-img {
        width: 70px;
        height: 70px;
    }

    .company__prop-img object {
        display: block;
    }

    .company__prop {
        margin-bottom: 14%;
    }

    .engineering__title {
        margin: auto;
        position: unset;
        color: #ffffff;
        font-style: normal;
        font-weight: 625;
        font-size: 42px;
        line-height: 49px;
    }

    .company__prop-title {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    }

    .container--engineering {
        margin-top: 0;
    }

    .company__prop-subtitle {
        font-style: normal;
        font-weight: 200;
        font-size: 14px;
        line-height: 152.69%;
    }

    .image2 {
        width: 100%;
        height: 480px;
    }

    .bg-mobile {
        display: none;
    }

    .bg-mobile img {
        position: absolute;
        width: auto;
        height: 663px;
        z-index: -2;
    }

    .bg-e-mix {
        width: 100%;
        height: 663px;
        position: absolute;
        background: #41A99E;
        opacity: 0.8;
        z-index: -1;
    }

    .company__title-engineering {
        -webkit-margin-top: 2%;
        -moz-margin-top: 2%;
        -ms-margin-top: 2%;
        -webkit-margin-left: 5%;
        -moz-margin-left: 5%;
        -ms-margin-left: 5%;

        -webkit-width: 91%;
        -moz-width: 91%;
        -ms-width: 91%;
        margin-top: 2%;
        width: 91%;
        margin-left: 5%;
        font-style: normal;
        font-weight: 625;
        font-size: 18px;
        line-height: 21px;
    }

    .company__title-engineering:after {
        width: 131px;
        height: 2px;
    }

    .engineering__description {
        margin-left: 5%;
        width: 91%;
        font-style: normal;
        font-weight: 200;
        font-size: 14px;
        line-height: 152.69%;
    }

    .engineering__container {
        width: 100%;
        height: 480px;
    }

    .equipment-bg {
        display: none;
    }

    .equipment__desc {
        height: auto;
    }

    .equipment__title {
        width: auto;
        margin-bottom: 4%;
        letter-spacing: 1px;
        margin-top: -7%;
        margin-left: 34%;
        font-style: normal;
        font-weight: 625;
        font-size: 41px;
        line-height: 48px;
        color: #00182C;
    }

    .equipment__main {
        width: 100%;
        margin-left: 0%;
        order: 2;
    }

    .equipment__section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .equipment__section .swiper {

    }

    .swiper {
    }

    .swiper-text {
        position: relative;
        width: auto;
    }

    .swiper-pagination {
        display: none;
    }

    .prev-text {
        cursor: pointer;
        z-index: 12222;
        position: absolute;
        top: 35%;
        left: 2%;
        content: "";
        display: inline-block;
        padding-top: 4px;
        margin-right: 8px;
        width: 22px;
        height: 21px;
        background-image: url("../img/arrow-prev.svg");
    }

    .next-text {
        cursor: pointer;
        z-index: 12222;
        position: absolute;
        top: 35%;
        right: 2%;
        content: "";
        display: revert;
        padding-top: 4px;
        margin-right: 8px;
        width: 22px;
        height: 21px;
        background-image: url("../img/arrow-next.svg");
    }


    .equipment__description {
        margin: 0;
        background: #D9D9D9;
        color: #00182C;
        padding-bottom: 3%;
        padding-left: 4%;
        margin-right: 0%;
        padding-right: 1%;
    }

    .equipment__description.active {
        padding-top: 5%;
        margin-bottom: -1%;
    }

    .equipment__container {
        margin-left: 0%;
    }

    .image-slider {
        width: 1280px;
        height: 469px;
    }

    .equipment__description.active:before {
        display: none;
    }

    .equipment__link {

    }

    .equipment__download {
        padding: 2% 0;
        display: flex;
        margin: 0;
        flex-direction: column;
        align-items: center;
    }

    .equipment__link__title {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #00182C;
    }

    .equipment__link__title:before {
        left: -11%;
        top: -7%;
    }



    #third {
        margin: auto;
        padding: 2%;
    }

    .social-container {
        margin: auto;
    }

    .social-logo-container {
        display: none;
    }

    .social-bg {
        height: auto;
    }

    .social-logo-container-mob {
        display: block;
        padding: 10% 0;
    }

    .social-info {
        display: block;
    }

    .social__address {
        width: 88%;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        height: auto;
        margin-bottom: 8%;
    }

    .social__address:before {
        left: -8%;
    }

    .social__contact {
        margin: auto;
    }

    .social__mail {
        margin-bottom: 8%;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
    }

    .social__mail:before {
        left: -8%;
    }

    .social__phone:before {
        left: -8%;
    }

    .social__phone {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
    }


    .social .section__footer {
        display: flex;
        flex-direction: column-reverse;
    }

    .social .scroll-menu {
        display: none;
    }

    .company__madeContainer {
        display: none;
    }

    .company__madeContainer-mob {
        display: block;

    }

    .company__year {
        width: auto;
        margin-top: 8%;
        font-style: normal;
        font-weight: 200;
        font-size: 12px;
        line-height: 0px;
    }

    .soc-mob-footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .soc-mob-footer .company__year {
        font-style: normal;
        font-weight: 200;
        font-size: 12px;
        line-height: 0px;
    }

    .image-slider .swiper-wrapper {
        flex-direction: row;
    }

    .text-slider .swiper-wrapper {
        flex-direction: row;


    }

    .swiper-img-container img {
        width: 631px;
        height: 469px;
    }


    .social__group {
        margin: 8% auto;
    }


}



@media (max-width: 1024px) {


    .image-slider {
        width: 100vw;
        height: 100%;
    }

    .image-slider .swiper-slide {
        padding-left: 21%;
    }

    .company__inner {
        padding: 4% 6%;
    }


    .image-slider {
        width: 100vw;
    }

    .swiper-img-container img {
        width: 631px;
        height: 469px;
    }
}

@media (max-width: 913px) {

    .social-bg {
        height: 21%;
    }


    .image-slider .swiper-slide {
        padding-left: 16%;
    }



}


@media (max-width: 820px) {


    .company__description {
        height: 187px;
    }

    .image-slider {
        width: 100vw;
    }

    .image-slider .swiper-slide {
        padding-left: 13%;
    }


    .company__inner {
        height: 940px;
        width: 100%;
        order: 3;
        flex-direction: column;
        margin-top: 20px;
        background-color: #00182C;
        padding: 4% 15%;
    }

}

@media (max-width: 768px) {
    .image-slider .swiper-slide {
        padding-left: 9%;
    }

    .social-info {
        margin-left: 26%;
    }

    .swiper-img-container img {
        width: 631px;
        height: 469px;
    }

    .social-bg {
        height: 18%;
    }

}


@media (max-width: 700px) {
    .image-slider .swiper-slide {
        padding-left: 0%;
    }

    .company__description {
        height: 239px;
    }

    .menu.open {
        left: 32%;
        top: 7%;
    }
}

@media (max-width: 620px) {
    .image2 {
        width: 100%;
        height: 620px;
    }

    .engineering__container {
        width: 100%;
        height: 620px;
    }
}

@media (max-width: 425px) {


    .company__description {
        height: 290px;
        margin-top: 25px;
}


.company__inner {
    height: 854px;
    padding: 10% 12%;
}


.engineering__container {
    height: 786px;
}

.engineering__description:not(:last-child) {
    margin: 5%;
}

.equipment__link__title {
    margin-left: 28%;
}


.image-slider {
    width: 300px;
}


.social-bg {
    height: 15%;
}

}

@media (max-width: 540px) {
.soc-mob-footer .company__year {
    font-size: 9px;
}

}

@media (max-width: 425px) {

.company__prop-title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.nav__link:not(:last-child) {
    margin-right: 0%;
}

.swiper {
    width: 100%;
}


.image-slider {
    width: 100vw;
}

.equipment__container {
    margin-left: 0;
}

.swiper-img-container img {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.text-slider .swiper-slide {
    margin: 0;
}

.equipment__description {
    margin-right: 0%;
}

.equipment__download {
    margin-bottom: 4%;
}

}

@media (max-width: 379px) {

    .company__description {
        height: 335px;
    }

.company__prop-title {
    margin: 7% 0 0 -15%;
    font-size: 18px;
}

.engineering__title {
    font-size: 32px;
}



.equipment__title {
    font-size: 35px;
}


.equipment__main {
    width: 100vw;
    margin-left: 0%;
    order: 2;
}

.social-bg {
    height: 15%;
}

.image-slider {
    width: 100vw;
}

.text-slider .swiper-slide {
    margin: 0;
}

.social-bg {
    height: 14%;
}

}


@media (max-width: 340px) {
.engineering__container {
    height: 900px;
}

    .company__description {
        height: 370px;
    }

    .menu.open {
        left: 29%;
    }
}





