
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto Flex', sans-serif;
    color: #ffffff;
    background-color: #ffffff;
    overflow-x: hidden;
}


h1, h2, h3, h4, h5, h6,li,ol {
    margin: 0 auto;
    padding: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding: 42px 40px;
}

.image-container {
    width: 100vw;
    height: 100vh;
}

.image1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;

    z-index: -2;
}

.image2 {
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: fixed;
    z-index: -3;
}


.bckg-mix {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;

    background: #00182C;
    mix-blend-mode: multiply;
    opacity: 0.9;
    z-index: -1;
}

.header {
    position: fixed;
    z-index: 100000;
    width: 100%;
}

.header--second {
    object-fit: cover;
    background-color: rgba(0, 24, 44, 0.7);
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__flagContainer {
    width: 37.85px;
    height: 20.4px;
}

.header__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}

.header__flag {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.header__nav {
    display: flex;
    align-items: center;

}

.nav__link {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 0;
    opacity: .5;
    letter-spacing: 3px;
}

.nav__link.swiper-slide {
    width: auto;
    height: auto;
}

.header--third .nav__link {
    color: #00182C;
}

.nav__link.active:after {

    position: absolute;
    content: "";
    display: block;
    width: 72px;
    height: 1px;
    background-color: #41A99E;
    margin-top: 13px;
    transform: skew(-30deg);
    animation: bar-appear 2s forwards;
}

.animate__animated {
    animation-duration: 1s;
    animation-name: slideInLeft;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes bar-appear {
    0% {
        width: 0;
    }
    100% {
        width: 72px;
    }
}

.a123 {
    display: flex;
    justify-content: space-between;
    width: 82%;
}

.nav__link:not(:last-child) {
    margin-right: 8%;
}

.nav__link.active {
    opacity: 1;
}

.header--third .header__phone {
    color: #41A99E;
}

.header__phone {
    font-style: normal;
    font-weight: 625;
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    text-transform: uppercase;
    width: 189px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ffffff;
}

.language-switch {
    display: flex;
    width: 88px;
    height: 18px;

}

.language {
    color: #ffffff;
    border: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 152.69%;
    width: 44px;
    text-align: center;
    background: #00182C;
    transition: background-color 0.3s ease-in-out;
}

.language:hover {
    cursor: pointer;
}

.language.active {
    background: #41A99E;
}

/* Section-container*/

.section-container {
    margin-left: 24%;
}

/* Компания */

.company {
    overflow: hidden;
}


.image-right {
    z-index: -1;
    position: absolute;

    right: 0%;
    top: -10%;
}

.image-left{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: -48px;
    top: 680px;
}

.company__logo {
    width: auto;
    height: auto;
    margin: 3.2% 0 0 12.75%;
}

.company__title {
    position: relative;
    font-style: normal;
    font-weight: 525;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 1.15px;
}

.company__title:after {
    position: absolute;
    content: "";
    display: block;
    width: 131px;
    height: 4px;
    background-color: #41A99E;
    margin-top: 13px;
    transform: skew(-30deg);
}

.company__inner {
    display: flex;
    margin-top: 4.7%;
}

.company__prop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 2.9%;
}

.company__prop-img {
    width: 72px;
    height: 72px;
}

.company__prop-img object {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.company__prop-title {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 7% 0 0 -10%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 0;
    letter-spacing: 1px;
}

.company__prop-title:before {
    content: "";
    display: inline-block;
    padding-top: 4px;
    margin-right: 8px;
    width: 22px;
    height: 21px;
    background-image: url("../img/Arrow.svg");
}

.company__prop-subtitle {
    padding-top: 15px;
    width: 283px;
    max-height: 108px;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 141.69%;
    opacity: 0.75;
    letter-spacing: 1px;
}

.company__subtitle {
    margin-top: 5.4%;
    margin-left: 23.3%;
    width: 54%;
}

.company__description {
    position: relative;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 147.69%;
    color: #41A99E;
}

.company__description::before {
    position: absolute;
    content: "";
    top: -16px;
    left: 0;
    display: block;
    width: 131px;
    height: 2px;
    background-color: #41A99E;
    transform: skew(-30deg);
}

.company__leader {
    padding-right: 4.5%;
    padding-top: 1.7%;
    display: flex;
    justify-content: flex-end;
    letter-spacing: 1px;
}


leader__logoContainer {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}
.leader__logo {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.leader__description {
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.leader__name {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 0;
}

.leader__subtitle {
    padding-top: 25px;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 0;
    opacity: 0.75;
}

.section__footer {
    /*margin-top: 5.1%;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    padding-bottom: 20px;

    bottom: 0;

    position: fixed;
    z-index: 100000;
}

.section__footer .container {
    padding-bottom: 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.company__year {
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 0px;
    letter-spacing: 1px;
}

.swiper {
    width: 52%;
}

.scroll-menu {
    display: flex;
}

.scroll-page {
    position: relative;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 0px;
    color: #41A99E;
    opacity: 0.5;
    margin-right: 81px;
}

.scroll-page:hover {
    cursor: pointer;
}

.scroll-page:after {
    content: "";
    display: block;
    position: absolute;
    top: 11px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 32px;
    background-color: #fff;
}


.scroll-page.active {
    opacity: 1;
}

.company__madeContainer {
    width: 129px;
    height: 39px;
}

.company__madeContainer img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.container--engineering {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 3%;
    height: 100%;
}

.engineering__container {
    background: #41A99E;
    opacity: 0.9;
    width: 84%;
    height: 70%;

    position: relative;
}

.engineering__text {
    margin-left: 10%;
    padding-top: 3%;
}


.engineering__title {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: -0.45%;
    font-style: normal;
    font-weight: 625;
    font-size: 160px;
    line-height: 188px;
    color: #ffffff;

    position: absolute;
    top: 0;
    left: -17%;
}

.company__title-engineering {
    margin-top: -0.85%;
    width: 72%;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 39px;
    color: #00182C;
    margin-right: 37.5%;
    letter-spacing: 1px;
}

.company__title-engineering:after {
    margin-top: .3%;
    background-color: #00182C;
}

.engineering__description {
    width: 71%;
    margin-top: 1%;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 152.69%;
    color: #ffffff;
}

.engineering__description:not(:last-child) {
    margin-top: 2%;
}

.engineering__container {
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: center;
}

.plan-img {
    width: 50%;
    height: 40%;

    position: fixed;
    bottom: 0;
}

.plan-svg {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.engineering .section__footer {
    margin-top: 10.4%;
}

.engineering .company__madeContainer {
    visibility: hidden;
}

.equipment {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: flex-end;

}

.equipment-white {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 2160px;
    background: #ffffff;
    mix-blend-mode: multiply;
    opacity: 0.9;
    z-index: -4;
}

.equipment-bg {
    position: fixed;
    /*width: 38.5%;*/
    width: 36vw;
    height: 100%;

    z-index: -2;
    background: #00182C;
}

.equipment-img {
    overflow: hidden;

    position: fixed;
    bottom: 0;
    z-index: -1;

    height: 657px;
}

.equipment-img object {
    overflow: hidden;
}

.equipment__container {
    margin-left: 2.1%;
    margin-top: 9.6%;
    height: 100%;
    width: 100%;
}

.equipment__title {
    text-transform: uppercase;
    letter-spacing: 7.2px;
    font-style: normal;
    font-weight: 625;
    font-size: 160px;
    line-height: 188px;
    color: #41A99E;
}

.equipment__section {

    display: flex;
    justify-content: space-between;
}

.equipment__main {
    width: 48%;

}

.equipment__description {
    position: relative;
    margin-bottom: 1%;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 152.69%;
    color: #00182C;

    margin-left: 30%;
    padding-right: 2%;
    margin-top: 2%;
}

.equipment__download {
    margin-left: 30%;
}


.equipment__description.active:before{
    content: "";
    display: inline-block;
    position: absolute;
    left: -5%;
    top: 3%;
    width: 22px;
    height: 21px;
    background-image: url("../img/Arrow.svg");
}

.equipment__prop-img {
    height: 27px;
    width: 30px;
    border-radius: 0px;
}

.equipment__link__title {
    display: flex;
    align-items: center;
    position: relative;
    color: #00182C;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 4%;
}

.equipment__link__title:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -6%;
    top: -16%;
    width: 30px;
    height: 27px;
    background-image: url("../img/down.svg");
}

.download {
    margin-top: 4%;
    text-transform: uppercase;
    width: 143px;
    height: 32px;
    background-color: #41A99E;
    color: #ffffff;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    transform: skew(13deg);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in;

}

.download span {
    letter-spacing: 2px;
    transform: skew(-13deg);
}

.download:hover {
    border: 1px #41A99E solid;
    background-color: #ffffff;
    color: #41A99E;
}


.equipment .company__madeContainer {
    visibility: hidden;
}

.image-slider {
    width: 631px;
    height: 469px;
}

.image-slider {
    margin-left: 0;
}

.swiper-img-container {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swiper-img-container img {
    width: 631px;
    height: 469px;
}


.swiper-pagination {
    width: auto !important;
    left: auto !important;
    margin: 10px 0 0 0;
    margin-left: 1.3%;
    display: flex;
    align-items: center;
}

.pagination-after {
    position: absolute;
    margin: 30px 0 60px 0;
    background: transparent;
}

.swiper__dot {
    font-size: 0;
    width: 30px;
    height: 7px;
    transform: skew(-30deg);
    background-color: #41A99E;
}

.swiper-pagination .swiper-slide-active .swiper__dot{
    background: #fff;
}

.pagination-after.swiper-pagination span {
    display: none;
    visibility: hidden;
}

.swiper-pagination .swiper-pagination-bullet {
    padding: 3px 16px;
    border-radius: 0;
    width: auto;
    height: 30px;
    text-align: center;
    opacity: 1;
    background: transparent;
    font-style: normal;
    font-weight: 572;
    font-size: 20px;
    line-height: 0px;

    display: flex;
    align-items: center;
}

.slide1 {
    transform: translate3d(0, 0, 0);
}


.pagination-after .swiper-pagination-bullet {
    height: 0px;
    background: #41A99E;
}

.pagination-after .swiper-pagination-bullet-active {
    background: #fff;
}

.pagination-after .swiper-pagination-bullet {
    margin: 0 3px;
}

.swiper-pagination-bullet-active + .swiper-pagination-bullet {
    opacity: 0.6;
}

.swiper-pagination-bullet-active + .swiper-pagination-bullet + .swiper-pagination-bullet {
    opacity: 0.4;
}

.swiper-pagination-bullet-active + .swiper-pagination-bullet + .swiper-pagination-bullet {
    opacity: 0.4;
}

.swiper-text {
    margin-left: auto;
    width: 38.1vw;
}



.text-slider .swiper-wrapper {
    height: 60px;
    width: 100px;

}


.text-slider .swiper-slide {
    cursor: pointer;
    margin: 0 35px;
    display: flex;
    padding: 5%;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.text-slider {

    background-color: #364685;
}

.text-slider .swiper-wrapper {


}

.swiper__item {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 0;
    color: #FFFFFF;
}

/* SOCIAL */

.social-bg {
    width: 100%;
    height: 100%;

    object-fit: cover;

    position: fixed;
    z-index: -3;
}

.social-container {
    margin-top: 13.5%;
    margin-left: 31.8%;

}

.social-logo-container {
    margin-left: 8%;
    padding-top: 1%;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.social-logo-container {
    width: 492px;
    height: 193px;
}

.social-info {
    margin-top: 8%;
    display: flex;
    margin-bottom: 14%;
}

.social__address {
    display: flex;
    align-items: center;
    position: relative;
    height: 84px;
    width: 30%;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1px;
}

.social__address:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -5%;
    top: 6%;
    width: 11px;
    height: 15px;
    background-image: url("../img/Location.svg");
}

.social__contact {
    margin-left: 7.8%;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}


.social__mail {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 23%;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 0px;
    letter-spacing: 1px;
}

.social__mail:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -12%;
    width: 18px;
    height: 14px;
    background-image: url("../img/Mail.svg");
}

.social__phone {
    display: flex;
    align-items: center;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 0px;
}

.social__phone:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -12%;
    width: 14px;
    height: 14px;
    background-image: url("../img/Phone.svg");
}

.social__group {
    margin-left: 21.5%;
}

.social__group a {
    padding-right: 1.7%;
}

.social .section__footer {
    width: 100%;
    margin-top: 9%;
    padding: 0 40px 20px 40px;
}

.swiper__item:active {
    outline: none;
    background-color: transparent;
}

.swiper-slide:active {
    outline: none;
    background-color: transparent;
}

.swiper__item:focus {
    outline: none;
    background-color: transparent;
}

.swiper-slide:focus {
    outline: none;
    background-color: transparent;
}

.swiper--main section.swiper-slide {
    position: relative;
    height: 100vh;
    overflow: hidden;
}


.company__madeContainer-mob {
    display: none;
}

[data-translate] {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.company__logo-mob {
    display: none;
}

.bg-mobile {
    display: none;
}

.social-logo-container-mob {
    display: none;
}

.header__menu {
    display: none;
}

@media (max-width: 1480px) {

    .engineering__text {
        margin-left: 10%;
        padding-top: 10%;
    }
}
/* Media Query */
@media (max-width: 1280px) {

    /*body {
        overflow-x: hidden;
    }*/

    .header__inner {
        transition: height 0.3s ease-in-out;
    }

    .header__flagContainer {
        display: none;
    }

    .header {
        position: relative;
    }

    .language-switch{
        position: absolute;
        top: 4%;
        left: 7%;
    }

    .menu-toggle {
        position: absolute;
        top: 4%;
        right: 5%;
        cursor: pointer;
        width: 30px;
        height: 12px;
    }

    .header__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: #00182C;
        color: #fff;
    }

    .menu-toggle .one,
    .menu-toggle .two {
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: 0;
        transition: all 0.3s ease-in-out;
    }

    .menu-toggle .one {
        top: 0;
    }

    .menu-toggle .two {
        bottom: 0;
    }

    .menu-toggle.open .one {
        transform: rotate(45deg);
        top: 50%;
    }

    .menu-toggle.open .two {
        transform: rotate(-48deg);
        bottom: 40%;
    }

    .menu {
        z-index: 1;
        color: #ffffff;
        visibility: hidden;
        transform: translateY(-20px); /* добавьте свойство transform с отрицательным значением translateY, чтобы меню сместилось вверх на 20px */
        transition: all 0.3s ease-in-out;
    }

    .menu.open {
        position: absolute;
        top: 10%;
        left: 34%;
        display: flex;
        flex-direction: column;
        align-items: center;
        visibility: unset;/* добавьте свойство transform с нулевым значением translateY, чтобы меню вернулось на свою исходную позицию */
    }

    .nav__link {
        margin-top: 20%;
    }

    .nav__link.active:after {
        display: none;
    }



    .container {
        padding: unset;
        height: auto;
        width: auto;
    }

    object {
        display: none;
    }

    .a123 {
        display: none;
    }

    .header {
        position: unset;
        z-index: 1;
    }

    .header__inner {
        background: #00182C;
        height: 64px;
        display: flex;
        flex-direction: row-reverse;
    }

    .section__footer {
        display: none;
    }

    .swiper {
        display: none;
    }

    .swiper-text {
        display: none;
    }

    .swiper-wrapper {
        display: flex;
        flex-direction: column;
    }

    .image1 {
        height: 592px;
        width: 100vw;
        object-fit: cover;
        position: fixed;

        z-index: -2;
    }

    .company__logo {
        display: none;
    }

    .company__logo-mob {
        display: block;
        width: 293px;
        height: 66px;
        margin-left: 15px;
        margin-top: 6%;
    }

    .bckg-mix {
        height: 30%;
        width: 100vw;
    }

    .company__title {
        margin-left: 28%;
        font-style: normal;
        font-weight: 625;
        font-size: 24px;
        line-height: 28px;
    }

    .company__title:after {
        margin-top: 6px;
        width: 60px;
        height: 2px;
    }

    .section-container {
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }

    .company__inner {
        width: 100%;
        order: 3;
        flex-direction: column;
        margin-top: 20px;
        background-color: #00182C;
        padding: 14% 13%;
    }


    .company__description {
        margin-top: 31px;
        margin-left: -33%;
        width: 358px;
        font-style: normal;
        font-weight: 200;
        font-size: 14px;
        line-height: 152.69%;
        color: #ffffff;
        letter-spacing: 1px;
    }

    .company__description:before {
        display: none;
    }

    .company__leader {
        /* margin-right: 109%; */
        margin-top: 4%;
        width: 132%;
        display: flex;
        align-content: center;
        align-items: center;
    }

    .leader__name{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 0px;
    }

    .leader__subtitle {
        font-style: normal;
        font-weight: 200;
        font-size: 14px;
        line-height: 0px;
    }

    .leader__logoContainer {
        width: 48px;
        height: 48px;
    }

    .company__prop-img {
        width: 70px;
        height: 70px;
    }

    .company__prop-img object {
        display: block;
    }

    .company__prop {
        margin-bottom: 14%;
    }

    .engineering__title {
        margin-left: 5%;
        margin-top: 6%;
        color: #ffffff;
        font-style: normal;
        font-weight: 625;
        font-size: 42px;
        line-height: 49px;
    }

    .company__prop-title {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    }

    .company__prop-subtitle {
        font-style: normal;
        font-weight: 200;
        font-size: 14px;
        line-height: 152.69%;
    }

    .image2 {
        display: none;
    }

    .bg-mobile {
        position: relative;
        display: block;
    }

    .bg-mobile img {
        position: absolute;
        width: auto;
        height: 663px;
        z-index: -2;
    }

    .bg-e-mix {
        width: 100%;
        height: 663px;
        position: absolute;
        background: #41A99E;
        opacity: 0.8;
        z-index: -1;
    }

    .company__title-engineering {
        margin-top: 2%;
        width: 91%;
        margin-left: 5%;
        font-style: normal;
        font-weight: 625;
        font-size: 18px;
        line-height: 21px;
    }

    .company__title-engineering:after {
        width: 131px;
        height: 2px;
    }

    .engineering__description {
        margin-left: 5%;
        width: 91%;
        font-style: normal;
        font-weight: 200;
        font-size: 14px;
        line-height: 152.69%;
    }

    .engineering__container {
        padding: 20px 0;
    }

    .equipment-bg {
        display: none;
    }

    .equipment__title {
        letter-spacing: 1px;
        margin-top: 5%;
        margin-left: 42%;
        font-style: normal;
        font-weight: 625;
        font-size: 41px;
        line-height: 48px;
        color: #00182C;
    }

    .equipment__main {
    }

    .equipment__description {
        margin-bottom: 0%;
        background: #D9D9D9;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 152.69%;
        color: #00182C;
        padding-bottom: 3%;
        margin-left: 28%;
        padding-left: 4%;
        margin-right: -2%;
        padding-right: 1%;
    }

    .equipment__description.active {
        padding-top: 5%;
        padding-bottom: 1%;
    }

    .equipment__description.active:before {
        display: none;
    }

    .equipment__link {

    }

    .equipment__link__title {
        margin-left: 39%;
        /* padding-bottom: 83px; */
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #00182C;
    }

    .equipment__link__title:before {
        left: -11%;
        top: -7%;
    }


    .download {
        margin-left: 40%;
    }

    .social {
        margin-top: 45%;
    }
    .social-logo-container {
        display: none;
    }

    .social-bg {
        height: 546px;
    }

    .social-logo-container-mob {
        display: block;
        margin-left: -23%;
    }

    .social-info {
        margin-left: -10%;
        display: block;
        margin-top: 20%;
    }

    .social__address {
        width: 88%;
        margin-left: -9%;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        height: auto;
        margin-bottom: 8%;
    }

    .social__address:before {
        left: -8%;
    }

    .social__contact {
        margin-left: -9%;
    }

    .social__mail {
        margin-bottom: 8%;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
    }

    .social__mail:before {
        left: -8%;
    }

    .social__phone:before {
        left: -8%;
    }

    .social__phone {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
    }

    .social__group {
        margin-left: 5%;
        margin-top: 17%;
        margin-bottom: 37%;
    }

    .social .section__footer {
        display: flex;
        flex-direction: column-reverse;
    }
    .social .scroll-menu {
        display: none;
    }

    .company__madeContainer {
        display: none;
    }

    .company__madeContainer-mob {
        display: block;

    }

    .company__year {
        margin-top: 8%;
        font-style: normal;
        font-weight: 200;
        font-size: 12px;
        line-height: 0px;
    }
}

